<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表页</title>
    <style>
        .p{
            padding: 30px;
            border: 1px solid #888;
            margin: 20px;
        }
        .p a{
            color: #999;
            text-decoration: none;
        }
        .p a:hover{
            color:#333;
        }
        .p p{
            color:#999;
        }
    </style>
</head>
<body>
<h1>文章列表</h1>
<div id="list">
    <foreach name="post" item="v">
        <div class="p">
            <h4><a href="{:U('Index/post',array('id'=>$v['id']))}">{$v['title']}</a></h4>
            <p>{$v['timestamp']|date='Y-m-d H:i:s',###}</p>
        </div>
    </foreach>
</div>
</body>
</html>